on: [push, pull_request, workflow_dispatch]

name: CI

jobs:
    check:
        name: Check
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: dtolnay/rust-toolchain@stable
              with:
                  toolchain: 1.85.0
            - name: Run cargo check
              run: cargo check --all-features

    check_wasm:
        name: Check wasm32
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: dtolnay/rust-toolchain@stable
              with:
                  toolchain: 1.85.0
                  targets: wasm32-unknown-unknown
            - name: Run cargo check for wasm
              run: cargo check --all-features --lib --target wasm32-unknown-unknown

    test:
        name: Test Suite
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: dtolnay/rust-toolchain@stable
              with:
                  toolchain: 1.85.0
            - name: Install dependencies
              run: sudo apt-get install libxcb-render0-dev libxcb-shape0-dev libxcb-xfixes0-dev libxkbcommon-dev libssl-dev
            - name: Run tests
              run: cargo test --lib

    fmt:
        name: Rustfmt
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: dtolnay/rust-toolchain@stable
              with:
                  toolchain: 1.85.0
                  components: rustfmt
            - name: Check formatting
              run: cargo fmt --all -- --check

    clippy:
        name: Clippy
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: dtolnay/rust-toolchain@stable
              with:
                  toolchain: 1.85.0
                  components: clippy
            - name: Run clippy
              run: cargo clippy

    trunk:
        name: Trunk Build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: dtolnay/rust-toolchain@stable
              with:
                  toolchain: 1.85.0
                  targets: wasm32-unknown-unknown
            - name: Download and install Trunk binary
              run: wget -qO- https://github.com/thedodd/trunk/releases/latest/download/trunk-x86_64-unknown-linux-gnu.tar.gz | tar -xzf-
            - name: Build with Trunk
              run: ./trunk build

    build:
        name: Build ${{ matrix.TARGET }}
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                include:
                    - os: macos-latest
                      TARGET: aarch64-apple-darwin

                    - os: macos-13
                      TARGET: x86_64-apple-darwin

                    - os: ubuntu-latest
                      TARGET: x86_64-unknown-linux-gnu

                    - os: windows-latest
                      TARGET: x86_64-pc-windows-msvc
                      EXTENSION: .exe

        steps:
            - name: Building ${{ matrix.TARGET }}
              run: echo "${{ matrix.TARGET }}"

            - uses: actions/checkout@v4
            - uses: dtolnay/rust-toolchain@stable
              with:
                  toolchain: 1.85.0
                  targets: ${{ matrix.TARGET }}

            - name: Build
              run: cargo build --verbose --release --target=${{ matrix.TARGET }}
